
    .main-page-continer{
        display: grid;
        grid-template-columns: 200px 100%;
        grid-template-rows: 100%;
    }
    
    .main-side{
        width: 200px;
        height: 100%;
    }
    
    .main-page-box{
        display: grid;  
        width: 1250px;
        grid-template-columns: 1fr;
        grid-template-rows: 46px 95%;
    }

@media (min-width: 1300px ) {
    .main-page-continer{
        display: grid;
        grid-template-columns: 200px 100%;
        grid-template-rows: 100%;
        height: 100%;
    }
    
    .main-side{
        width: 200px;
    }
    
    .main-page-box{
        display: grid;  
        grid-template-columns: 1fr;
    }
}

.main-page-head{
    height: 10%;
    justify-content: center;
}


.main-page-body{
    background-color: white;
    height: 90%;
    margin: 1rem;
    border-radius: 15px;
    justify-content: center;
}

.main-page-body-select-menu{
    font-size: 14px;
    display: flex;
    height: 30px;
    margin: 16px;
    margin-bottom: 16px;
    user-select: none;
}

.main-page-body-contents{
    padding: 2%;
}

.main-page-turnbutton{
    cursor: pointer;
    height: 23px;
    padding-top : 5px;
    padding-left: 15px;
    padding-right: 15px;
    margin-right: 10px;
    margin-bottom: 5px;
    border-radius: 15px;
    background-color: #a32f2c;
    color: white;
    text-align: center;
    align-items : center;
    white-space:nowrap;
}

.main-page-turnbutton-title{
    padding-left: 5px;
    padding-right: 2px;
}

.main-page-turnbutton-close{
    padding-left: 5px;
}
