table{
    width: 100%;
    border: 1px solid #333;
}

.mainSession-head{
    background-color: lightgray;
    color: #000;
}

.mainSession-container{
    height: 400px;
}

.mainSession-title{
    font-size: 32px;
    font-weight: bold;
}

.mainSession-subtitle{
    margin-bottom: 2rem;
}