
button{
    cursor: pointer;
    border-radius: 5px;
    border: none;
}

table{
    width: 100%;
}

.headquartersManagement-container{
    user-select: none;
    width: 100%;
    height: 100%;
}

.headquartersManagement-container-checkedDelte{
    border-radius: 5px;
    border: none;
    background-color: rgb(192, 188, 188);
    margin-right: 5px;
    margin-bottom: 5px;
}

.headquartersManagement-container-addButton{
    border-radius: 5px;
    border: none;
    background-color: rgb(192, 188, 188);
    margin-right: 5px;
    margin-bottom: 5px;
}

.headquartersManagement-container-addInput{
    border: 1px solid gray;
    text-align: center;
    border-radius: 10px;
}

.headquartersManagement-container-add-button{
    margin-left: 5px;
    background-color: lightgray;
}

.headquartersManagement-container-add-button:hover{
    margin-left: 5px;
    background-color: gray;
}

.headquartersManagement-container-cencle-button{
    margin-left: 5px;
    background-color: darkred;
    color: white;
}

.headquartersManagement-container-cencle-button:hover{
    margin-left: 5px;
    background-color: red;
    color: white;
}

/* .headquartersManagement-container-button-box > button:hover{
    background-color: rgb(146, 144, 144);
    color: white;
} */

.headquartersManagement-container-list-head{
    background-color: lightgray;
    color: black;
    width: 500px;
    border: 0px;
    border-collapse: collapse;
}

.headquartersManagement-container-list-head th{
    position: sticky;
    top: 0px;
    background-color: lightgray;
}

.headquartersManagement-container-list-box{
    width: 100%;
    height: 400px;
    overflow-y: auto;
    
}
